@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf');
}

.LoginPageContainer {
  background-color: #FFFFE8;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.LoginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255);
  margin-top: 5%;
  border-radius: 20px;
  margin-left: 35%;
  margin-right: 35%;
}
.LoginContainerForm {
  padding-top: 5%;
  width: 95%;
  display: flex;
  flex-direction: column;
}
.LoginContainerTitle {
  color: #608BC1;
  margin-bottom: 0;
  font-family: 'Roboto';
  margin-left: 5%;
}
.LoginContainerText {
  color: #6E6868;
  margin-top: 2%;
  font-family: 'Roboto';
  margin-left: 5%;
}
.formLabelText {
  font-family: 'Roboto';
  margin-left: 5%;
}
.formInput {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid ;
  border-radius: 5px;
  width: 85%;
  margin-left: 5%;
}
.ForgotPasswordText {
  color: #608BC1;
  margin-top: 1%;
  font-family: 'Roboto';
  margin-left: 5%;
}
.ContinueButton {
  background-color: #608BC1;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20%;
  padding-right: 20%;
  border: none;
  border-radius: 10px;
  margin-bottom: 10%;
  font-family: 'Roboto';
  cursor: pointer;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
}